APP_ENV=test
LOG_LEVEL=WARNING

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wikipulse_test
POSTGRES_USER=wikipulse
POSTGRES_PASSWORD=wikipulse
DATABASE_URL=postgresql+psycopg://wikipulse:wikipulse@localhost:5432/wikipulse_test

KAFKA_BOOTSTRAP_SERVERS=localhost:9094
ELASTICSEARCH_URL=http://localhost:9200
LIVE_RETENTION_HOURS=1
HOURLY_RETENTION_DAYS=1
